<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MobisServerV0.1</display-name>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config> 
  
  <!--CharsetFilter start--> 

  <filter>
    <filter-name>CharsetFilter</filter-name>
    <filter-class>eu.mobis.servlets.UTF8Filter</filter-class>
      <init-param>
        <param-name>requestEncoding</param-name>
        <param-value>UTF-8</param-value>
      </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CharsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <resource-ref>
		 <description>postgreSQL Datasource example</description>
		 <res-ref-name>jdbc/postgres</res-ref-name>
		 <res-type>javax.sql.DataSource</res-type>
		 <res-auth>Container</res-auth>
	</resource-ref>
  
  <servlet>
    <servlet-name>GetKSPRoutesServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.GetKSPRoutesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetKSPRoutesServlet</servlet-name>
    <url-pattern>/GetKSPRoutes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CCServlet</servlet-name>
    <servlet-class>eu.mobis.servlets.CCServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>CCServlet</servlet-name>
    <url-pattern>/CC/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMultiModalRoutesServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.GetMultiModalRoutesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMultiModalRoutesServlet</servlet-name>
    <url-pattern>/GetMultiModalRoutes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAStarRouteServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.GetAStarRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAStarRouteServlet</servlet-name>
    <url-pattern>/GetAStarRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetDijkstraRouteServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.GetDijkstraRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDijkstraRouteServlet</servlet-name>
    <url-pattern>/GetDijkstraRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetTrafficSituationsServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.GetTrafficSituationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTrafficSituationsServlet</servlet-name>
    <url-pattern>/GetTrafficSituations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetVenuesServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.GetVenuesServlet</servlet-class>
  	<multipart-config>	
		  <max-file-size>52428800</max-file-size> 
		  <max-request-size>52428800</max-request-size>
		  <file-size-threshold>0</file-size-threshold>
	 </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVenuesServlet</servlet-name>
    <url-pattern>/GetVenues</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleLoginServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.HandleLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleLoginServlet</servlet-name>
    <url-pattern>/HandleLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleLogoutServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.HandleLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleLogoutServlet</servlet-name>
    <url-pattern>/HandleLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleRegisterServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.HandleRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleRegisterServlet</servlet-name>
    <url-pattern>/HandleRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SaveRouteServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.SaveRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveRouteServlet</servlet-name>
    <url-pattern>/SaveRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleGSignInServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.HandleGSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleGSignInServlet</servlet-name>
    <url-pattern>/HandleGSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FetchSelectedRouteServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.FetchSelectedRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchSelectedRouteServlet</servlet-name>
    <url-pattern>/FetchSelectedRoute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetUserRoutesServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.GetUserRoutesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserRoutesServlet</servlet-name>
    <url-pattern>/GetUserRoutes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleCollectedDataServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.HandleCollectedDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleCollectedDataServlet</servlet-name>
    <url-pattern>/HandleCollectedData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HandleProfileAnswerServlet</servlet-name>
    <servlet-class>org.uninova.mobis.servlets.HandleProfileAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleProfileAnswerServlet</servlet-name>
    <url-pattern>/HandleProfileAnswer</url-pattern>
  </servlet-mapping>
</web-app>